body{
  background:url("background.webp");
  background-repeat: no-repeat;
  width: 100%;  
  height: 100vh; 
  background-size: 100% 100%;  
}
.searchbox{
  text-align: center;
}
.searchbox Button{
  margin-top:11px;
}
.infobox{
  text-align: center;
  margin:0 auto;
  padding-top:10px;
}
.cardcontainer{ 
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cardcontainer CardContent{
  background-color: rgb(93, 215, 215);
}